<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 border border-light mt-5">
      <h5 class="text-center p-4 mb-0">グループ編集フォーム</h5>
      <div class="form-body p-4">
        
        <%= form_with model: @group,method: :patch do |f| %>
        
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-font-awesome"></i></span>
            </div>
            <%= f.text_field :name, class: "form-control", placeholder: "グループ名" %>
          </div>
          
          <%= f.submit '投稿', class: "btn  btn-block btn-info mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>