<div class="container-fluid">
  <div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class=" main-visual">
      <div class="col-4 offset-4">
        <div class="row">
          いい感じの文章
        </div>
        <div class="row">
          <%= link_to 'Discover Now', map_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class=" second-visual">
      <div class="col-4 offset-4">
        <div class="row">
          about
        </div>
      </div>
    </div>
  </div>

  <div class="row w-100">
    自己紹介
  </div>
</div>
