<div class="container-fluid">
  <div class="row w-100 justify-content-center main-visual">
    <div class="col-4 ">
      <div class="row">
        いい感じの文章
      </div>
      <div class="row">
        mapリンク
      </div>
    </div>
  </div>
  <div class="row w-100">
    ちょっと隙間開ける
  </div>
  <div class="row w-100 justify-content-center second-visual">
    aboutと背景
  </div>
  <div class="row w-100">
    自己紹介
  </div>
</div>
