<div class="container-fluid">
  <div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class=" main-visual">
      <div class="col-4 offset-4">
        <div class="row">
          いい感じの文章
        </div>
        <div class="row">
          <%= link_to 'Discover Now', map_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class=" second-visual">
      <div class="about">
        私は色々と新しいことに挑戦してみたい性格から多趣味なのですが、その中でも一番新しい趣味の一つに
        祭りで神輿を担ぐ、というものがあります。
        以前より興味はあったものの参加方法がわからず、今は前職の先輩に紹介していただき参加しています。
        担ぎ手になるには元々参加している方に紹介してもらう、という形が一般的で
        興味はあるけれどどこに問い合わせればいいのかわからない、という方がいらっしゃるかと思います。
        
        一方で担ぎ手の側を見た時に、祭りの準備や当日までの練習などを考えた場合、今よりもより多くのメンバーに
        参加してもらいたいと考えているケースが多いと感じました。しかし祭りや神輿は神社が主体となって行われる
        行事が多く、あまりインターネット上に情報が出回りません。
        
        このアプリを使用することで主催側は行事の開催を告知することができ、興味がある参加希望者はトピックから
        関係者とやり取りをし担ぎ手として祭りに参加する、といった流れが生まれ
        地域の伝統行事である祭りがより賑わえばいいなと思い、今回作成いたしました。
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    自己紹介
  </div>
</div>
