<div class="container-fluid matsuri-style">
  <div class="row d-flex justify-content-center" style="margin-bottom: 50px; padding-top: 50px;">
    <div class="main-visual d-flex justify-content-center">
      <div class="col-6">
        <div class="row heading-style">
          <h3>
            Embrace the vibrant summer sunshine<br>
            and dive into the excitement of our festivals!<br>
            Let's go on an adventure!
          </h3>
        </div>
        <div class="row d-flex justify-content-center" style="margin-top: 350px;">
          <%= link_to 'Discover Now', map_path, class: 'btn btn-primary btn-lg' %>

        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center" style="margin-top: 100px;">
    <h4><strong>ABOUT</strong></h4>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="second-visual">
      <div class="about">
        <h6>ご覧いただきありがとうございます！</h6>
        <h6>このアプリケーションは、イベント（お祭り）の情報を共有できるコミュニティサイトです。</h6>
        <h6>主に行事の開催を告知したい主催者側がイベントを作成し、お祭りに参加してみたい参加希望者は
        投稿詳細画面よりコメントをすることで関係者などとやり取りをし、メンバーに参加するボタンを押すことで
        スムーズに祭りに参加することができればいいな、ということを目的に作成いたしました。</h6>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center" style="margin-top: 100px;">
    <h5>自己紹介</h5>
  </div>
  <div class="row d-flex justify-content-center" style="margin-top: 50px; padding-bottom: 100px;">
    <div class="col-2">
      <div class="admin-image">
        <%= image_tag('fire.jpg', size: "150x150", class: "rounded-circle") %>
      </div>
    </div>
    <div class="col-6">
      <h5>Area6080</h5>
      <h6>興味を持ったことには何でもやってみたいという性格のため、趣味が多く時間と金銭面で
      苦労しています笑。主な趣味は釣りとアウトドア、ロードバイク、神輿などです。
      20代は沖縄へ移住しており、その後大阪で溶接職に10年ほど従事していました。<br>
      モノづくりが好きで新しいサービスを自分の力で生み出せるITエンジニア職を目指し、<br>
      2024年4月よりDMM WEBCAMPを受講、学習中です。
      </h6>
      <a class="matsuri-style" href="https://github.com/area6080"><i class="fa-brands fa-github"></i>
      <span>
        https://github.com/area6080
      </span></a>
    </div>
  </div>
</div>

<span id="back">
  <a href="#">
    <%= image_tag('arrow.png', size: "50x50", class: "rounded-circle") %>
  </a>
</span>
<%= javascript_pack_tag 'script' %>