@use '~bootstrap/scss/bootstrap' with (
    $primary: #3450a4,
    // 瑠璃色
    $secondary: #887894,
    // 紫苑色
    $success: #247c50,
    // 常盤色
    $info: #74509c,
    // すみれいろ
    $danger: #b82044,
    // 紅色
    $warning: #e84c6c,
    // 韓紅
);
// !defaultフラグが使用されている変数のみを変更できる

#map {
  width: 100%;
  height: calc(100vh - 160px);
}

#back {
  position: fixed;
  right: 20px;
  bottom: 50px;
}