html, body {
  /*height: 100%;*/
}
footer {
  height: 60px;
  position: sticky;
  top: 100vh;
}

.main-visual {
  width: 80%;
  height: 600px;
  background-image: url('main_v.jpg');
  background-size: cover;
}

.second-visual {
  width: 70%;
  height: 600px;
  background-image: url('second_v.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 150px;
}

.about {
  margin-top: 150px;
  margin-left: 300px;
}

.matsuri-style {
  background-color: #282834;
  /*鉄紺*/
  color: #d7d7cb;
}

.admin-image{
  margin-left: 30px;
}
