html, body {
  height: 100%;
}
footer {
  height: 60px;
  position: sticky;
  top: 100vh;
}

.matsuri-style {
  background-color: #282834;
  /*鉄紺*/
  color: #d7d7cb;
}

.main-visual {
  width: 80%;
  height: 750px;
  background-image: url('main_v.png');
  background-size: cover;
}

.second-visual {
  width: 70%;
  height: 600px;
  background-image: url('second_v.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 150px;
}

.about {
  margin-top: 150px;
  margin-left: 300px;
}

.admin-image{
  margin-left: 30px;
}

.heading-style{
  margin-top: 150px;
  margin-left: 30px;
  color: white;
  text-align: center;
}

.map-btn {
  writing-mode: vertical-rl;
}

/*.flash{*/
/*  width: 100%;*/
/*  height: 30px;*/
/*}*/
