.main-visual {
  width: 80%;
  height: 600px;
  background-image: url('main_v.jpg');
  background-size: cover;
}

.second-visual {
  width: 50%;
  height: 600px;
  background-image: url('second_v.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  margin-top: 150px;
}