<% if admin_signed_in? || user_signed_in? %>
  <%= form_with url: search_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.select :model, options_for_select([['User'], ['Event']]), {}, class: "form-control" %>
    <%= f.text_field :word, placeholder: "Search", required: true %>
    <%= button_tag type: "submit", class: "btn btn-outline-primary btn-sm" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </div>
  <% end %>
<% end %>