<li class="nav-item mr-3">
    <%= link_to 'about', class: 'nav-link btn btn-outline-secondary' %></li>
<li class="nav-item mr-3">
    <%= link_to '新規登録', new_user_registration_path, class: 'nav-link btn btn-outline-secondary' %></li>
<li class="nav-item mr-3">
    <%= link_to 'ログイン', new_user_session_path, class: 'nav-link btn btn-outline-secondary'%></li>
<li class="nav-item">
    <%= link_to '管理者用', new_admin_session_path, class: 'nav-link btn btn-outline-danger'%></li>