<li class="nav-item mr-1">
    <%= link_to 'Guest Login', guest_sign_in_path, class: 'nav-link btn btn-warning', method: :post %></li>
<li class="nav-item mr-1">
    <%= link_to '新規登録', new_user_registration_path, class: 'nav-link btn btn-secondary' %></li>
<li class="nav-item mr-1">
    <%= link_to 'ログイン', new_user_session_path, class: 'nav-link btn btn-secondary'%></li>
<li class="nav-item">
    <%= link_to '管理者用', new_admin_session_path, class: 'nav-link btn btn-outline-danger'%></li>