<div class="container-fluid">
  <div class="row w-100 d-flex justify-content-center">
    <div class="col-6 text-center">
      <% flash.each do |key, message| %>
      　<div><%= message %></div>
      <% end %>
    </div>
  </div>
</div>


