<div class="container-fluid">
  <div class="row w-100 d-flex justify-content-center">
    <div class="col-6 text-center">
      <ul>
        <% flash.each do |key, message| %>
        　<li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


