<div class="container">
  <div class="row w-100 justify-content-center">
    <div class="col-6 text-center">
      <% flash.each do |key, message| %>
      　<div class="alert alert-<%= key %> my-2"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>


