<footer class="container-fluid border-top">
  <div class="row justify-content-center mt-3">
    <div class="col-4 text-center">
      Copyright © Mikoshi Majesty. All Rights Reserved.
    </div>
  </div>
</footer>
