<footer class="container-fluid">
  <div class="row justify-content-center pt-3">
    <div class="col-4 text-center">
      Copyright © Mikoshi Majesty. All Rights Reserved.
    </div>
  </div>
</footer>
