<li class="nav-item mr-3">
    <%= link_to 'MY Page', user_path(current_user), class: 'nav-link btn btn-outline-secondary' %></li>
<li class="nav-item mr-3">
    <%= link_to 'MAP', map_path, class: 'nav-link btn btn-outline-secondary'%></li>
<li class="nav-item">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary' %></li>
